body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #f5f7ff;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.logo {
    font-size: 22px;
    font-weight: 700;
    color: #0050c8;
}

.search-box {
    position: relative;
    width: 40%;
}

.search-box input {
    width: 100%;
    padding: 10px 40px;
    border-radius: 25px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.search-box i {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
}

.nav-icons i {
    font-size: 22px;
    margin-left: 20px;
    cursor: pointer;
}

/* BLUE HEADER LINE */
.blue-line {
    width: 100%;
    height: 45px;
    background: #0046aa;
}

/* SECTION TITLE */
.section-title {
    margin: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-title h2 {
    color: #0046aa;
    font-size: 32px;
    font-weight: 900;
}

.btn-products {
    padding: 12px 20px;
    background: #1b60e3;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/* PRODUCT GRID */
.product-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    padding: 0 40px 40px;
}

.card {
    background: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    position: relative;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
}

/* Love Icon */
.love {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 20px;
    cursor: pointer;
    color: #999;
}

.card h3 {
    font-size: 16px;
    margin-top: 15px;
}

.price {
    font-weight: bold;
    margin-top: 10px;
}
